@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #131518;
}

.container {
    background-image: radial-gradient(98.96% 98.96% at 50.00% 0%, #232a34 0%, #181e27 100%);
    max-width: 412px;
    min-height: 416px;
    border-radius: 30px;
    padding: 40px 30px;
    color: #969fad;
}

.star {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #262e38;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star i {
    font-size: 16px;
    color: #fc7614;
}

.title {
    color: #fff;
    font-size: 28px;
    margin-bottom: 7px;
}

.description {
    line-height: 1.5;
    font-size: 15px;
}

.nums {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    cursor: pointer;
    margin-top: 20px;
    user-select: none;
}

.nums span {
    background-color: #262e38;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    user-select: none;
    align-items: center;
}

.nums span {
    cursor: pointer;
}

.nums span:hover {
    background-color: #969fad;
    color: #fff;
}

button {
    background-color: #fc7614;
    width: 100%;
    margin-top: 35px;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 11px 24px;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    color: #fc7614;
    background-color: #fff;
}

.attribution {
    position: fixed;
    bottom: 10px;
    color: white;
    text-align: center;
    padding: 20px;
}

.attribution a {
    color: aqua;
    cursor: pointer;
}

@media(max-width:460px) {
    body {
        padding: 0;
    }

    .container {
        max-width: 95%;
        padding: 20px;
        min-height: 350px;
    }

    .title {
        font-size: 25px;
    }

    .description {
        font-size: 14px;
    }

    .star {
        width: 40px;
        height: 40px;
    }

    .star i {
        font-size: 13px;
    }

    .nums span {
        width: 40px;
        height: 40px;
    }

    .nums {
        gap: 10px
    }

    button {
        margin-top: 20px;
    }
}

@media(max-width:379px) {
    .nums {
        gap: 5px;
    }
}